@import url(https://fonts.googleapis.com/css?family=Sarabun:300,400,600);
html {
    font-family: 'Sarabun', sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    font-family: 'Sarabun', sans-serif;
}

p,
a,
div,
h1,
h2,
h3,
h4,
h5,
span,
li,
b {
    font-family: 'Sarabun', sans-serif;
}